// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@import "./assets/scss/utility";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$md-primary: (
  50: #f3e5f5,
  100: #e1bee7,
  200: #bb86fc,
  300: #ba68c8,
  400: #ab47bc,
  500: #6200ee,
  600: #8e24aa,
  700: #3700b3,
  800: #6a1b9a,
  900: #4a148c,
  A100: #ea80fc,
  A200: #e040fb,
  A400: #d500f9,
  A700: #aa00ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

$md-accent: (
  50: #e0f2f1,
  100: #b2dfdb,
  200: #03dac6,
  300: #4db6ac,
  400: #26a69a,
  500: #009688,
  600: #00897b,
  700: #00796b,
  800: #00695c,
  900: #018786,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ),
);

$md-warn: (
  50: #ffebef,
  100: #cf6679,
  200: #f0999f,
  300: #e77179,
  400: #f24e58,
  500: #f83a40,
  600: #e9313e,
  700: #d72638,
  800: #b00020,
  900: #bb0d24,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$theme-primary-light: mat.define-palette($md-primary, 500, 700);
$theme-accent-light: mat.define-palette($md-accent, 200, 900);

$theme-primary-dark: mat.define-palette($md-primary, 200, 700);
$theme-accent-dark: mat.define-palette($md-accent, 200);

$theme-warn-light: mat.define-palette($md-warn, 800);
$theme-warn-dark: mat.define-palette($md-warn, 200);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $theme-primary-dark,
      accent: $theme-accent-dark,
      warn: $theme-warn-dark,
    ),
    typography: mat.define-typography-config(),
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary-light,
      accent: $theme-accent-light,
      warn: $theme-warn-light,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($dark-theme);

@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($light-theme);
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $material-theming-primary: mat.define-palette(mat.$indigo-palette);
// $material-theming-accent: mat.define-palette(
//   mat.$pink-palette,
//   A200,
//   A100,
//   A400
// );

// The warn palette is optional (defaults to red).
// $material-theming-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $material-theming-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $material-theming-primary,
//       accent: $material-theming-accent,
//       warn: $material-theming-warn,
//     ),
//   )
// );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($material-theming-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
